@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 8% 98%;
    --foreground: 240 5% 34%;
    --card: 240 10% 100%;
    --card-foreground: 240 5% 34%;
    --popover: 240 10% 100%;
    --popover-foreground: 240 5% 34%;
    --primary: 158 75% 45%;
    --primary-foreground: 158 20% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5% 20%;
    --muted: 240 5% 93%;
    --muted-foreground: 240 5% 54%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 5% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 88%;
    --input: 240 5% 92%;
    --ring: 158 75% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 4% 10%;
    --foreground: 240 5% 75%;
    --card: 240 4% 12%;
    --card-foreground: 240 5% 75%;
    --popover: 240 4% 12%;
    --popover-foreground: 240 5% 75%;
    --primary: 158 75% 45%;
    --primary-foreground: 158 20% 98%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 240 5% 90%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 5% 60%;
    --accent: 240 4% 20%;
    --accent-foreground: 240 5% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 158 75% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .connector-path {
    stroke-dasharray: 10;
    animation: dash 2s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: -20;
    }
  }
}
